/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* header */

#head-banner {
    background-color: white;
    height: 60px;
    line-height: 30px;
    border-left: 20px;
    padding: 5px 20px;
}

#logo-img {
    vertical-align: middle;
}

#logo-text {
    font-size: 40px;
    vertical-align: middle;
}

/* corpo pagina */

.corpo-pagina {
    width: 75%;
    background-color: white;
    margin: 50px auto;
    padding: 10px 0;
    border-radius: 10px;
}

/* sezione bottoni */

.bottone {
    width: 100px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

/* colori */

.erba {
    background-color: green;
}

.rosa {
    background-color: fuchsia;
}

.arancione {
    background-color: orange;
}

.verde {
    background-color: darkgreen;
}

.viola {
    background-color: purple;
}

.azzurro {
    background-color: #1E90FF;
}

.bianco{
    background-color: white;
    border: 1px solid lightgray;
    line-height: 28px;
}

.testo-bianco {
    color: white;
}

.testo-grigio {
    color: grey;
}

/* css tendine */

.tendine {
    padding: 20px;
}

h2 {
    margin: 3px;
    color: darkslategray;
}

h4 {
    margin: 3px;
    color: darkslategray;
    display: inline-block;
}

.messaggio {
    width: 70px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    border-radius: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    border: 3px;
}

.done {
    color: forestgreen;
    border: 1px solid forestgreen;
    border-radius: 50%;
    padding: 1px;
    margin-right: 7px;
}

.undone {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 1px;
    margin-right: 7px;
}